<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="wrapper">
        <!-- barra de navegación -->
        <header class="header">
            <nav class="px-4 py-2 shadow navbar navbar-brand-lg bg-white">
                <div class="ml-auto d-flex align-items-center mb-0">
                    <a routerLink="/" class="nav-link" role="button">Atrás</a>
                </div>
            </nav>
        </header>
        <!-- Cuerpo debajo de la barra de navegación -->
        <div class="wrapper-content">
            <!-- barra lateral -->
            <!-- <div class="sidebar py-3" id="sidebar">
            </div> -->
            <!-- Cuerpo -->
            <div class="page-holder bg-gray-100">
                <!-- Contenido -->
                <div class="px-lg-4 px-xl-5 container-fluid">
                    <!-- Encabezado del cuerpo -->
                    <div class="page-header text-center mt-3 mb-3">
                        <h2 class="page-heading">
                            Inicia Sesión en SCARF
                        </h2>
                    </div>
                    <!-- Section del cuerpo -->
                    <section class="mb-3 mb-lg-5">
                        <!-- Para las cards -->
                        <div class="mb-3 row ms-5 me-5">
                            <!-- Card Inicio Alumno -->
                            <div class="col-lg-6 col-sm-6 mt-3 mb-3">
                                <div class="card">
                                    <!-- cuerpo del Card -->
                                    <div class="d-box align-items-center justify-content-between card-body">
                                        <div class="text-center">
                                            <img src="../../../assets/img/alumno.png" width="200">
                                        </div>
                                        <div class="inner text-center">
                                            <h3>Alumno</h3>
                                            <p>Puedes ver tu propio informe de asistencia 
                                            <br> y estadísticas personales.</p>    
                                        </div>
                                    </div>
                                    <!-- Footer del Card -->
                                    <div class="py-3 card-footer text-center">
                                        <button type="button" class="btn" routerLink="/inicio-sesion-alumno">
                                            Iniciar como Alumno
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Inicio Docente -->
                            <div class="col-lg-6 col-sm-6 mt-3 mb-3">
                                <div class="h-100 card">
                                    <!-- Card Body-->
                                    <div class="d-box align-items-center justify-content-between card-body">
                                        <div class="text-center">
                                            <img src="../../../assets/img/docente.png" width="200">
                                        </div>
                                        <div class="inner text-center">
                                            <h3>Docente</h3>
                                            <p>Puedes registrar la asistencia de los alumnos y acceder a un informe general de asistencias.</p>    
                                        </div>
                                    </div>
                                    <!-- Card Footer -->
                                    <div class="py-3 card-footer text-center">
                                        <button type="button" class="btn"  routerLink="/inicio-sesion-docente">
                                            Iniciar como Docente
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <footer class="footer bg-white shadow py-3 px-xl-5 w-100">
                    <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 text-center fw-bold text-md-start">
                        <p class="mb-2 mb-md-0">Copyright ©</p>
                        </div>
                        <div class="col-md-6 text-center text-md-end text-gray-400">
                        <p class="mb-0">Versión 3.0.0</p>
                        </div>
                    </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>